<div class="nav-content">
    <mat-nav-list class="nav-content_list">
        <a mat-list-item>
            <i class="material-icons">
                home
            </i>
            Cursos
        </a>
        <a mat-list-item>
            <i class="material-icons">
                home
            </i>
            Disciplinas
        </a>
        <a mat-list-item>
            <i class="material-icons">
                home
            </i>
            Professores
        </a>
        <a mat-list-item>
            <i class="material-icons">
                home
            </i>
            Alunos
        </a>
    </mat-nav-list>
</div>