<div class="nav-content">
    <mat-nav-list class="nav-content_list">
        <a 
            mat-list-item
            *ngFor="let aside of asideSelectItems"
            routerLink="{{ aside.route }}"
        >
            <i class="material-icons">
                {{ aside.icon }}
            </i>
            {{ aside.title }}
        </a>
    </mat-nav-list>

    <div class="menu-buttons">
        <button mat-button [matMenuTriggerFor]="menu">
            <i class="material-icons">
                menu
            </i>
        </button>
        <mat-menu #menu="matMenu">
            <button
                *ngFor="let aside of asideSelectItems"
                (click)="changePage(aside.route)"
                mat-menu-item>
                {{ aside.title }}
            </button>
          </mat-menu>
    </div>
</div>