.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    i {
        font-size: 3rem;
        
    }
    h2 {
        margin: 0;
        margin-left: 1rem;
        font-size: 2rem;
    }
}

@media(max-width: 380px ) {
    i {
        font-size: 2rem !important;
    }
    h2 {
        font-size: 1.2rem !important;
    }
}