.header-content {
    display: flex;
    align-items: center;
    height: 6rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    i {
        font-size: 4rem;
        margin-left: 4rem;
    }
    h2 {
        margin: 0;
        margin-left: 1rem;
        font-size: 3rem;
    }
}