<div class="students-form-content">
    <mat-card 
        class="card-content mat-elevation-z4"
        >
        <h2>
            {{ studentId ? 'Editar' : 'Novo'}} aluno
        </h2>

        <form class="students-form" [formGroup]="studentsForm">

            <div class="students-form_row">
                <div class="field col-6">
                    <label for="studentName">Nome do aluno: </label>
                    <input 
                        type="text" 
                        id="studentName"
                        formControlName="studentName"
                        autocomplete="off"
                        >
                </div>

                <div class="field col-2">
                    <label for="registration">Matrícula: </label>
                    <input
                        type="number" 
                        id="registration"
                        formControlName="registration"
                        autocomplete="off"
                        >
                </div>

                <div class="field col-2">
                    <label for="birthDate">Data de nascimento: </label>
                    <input
                        type="date" 
                        id="birthDate"
                        formControlName="birthDate"
                        autocomplete="off"
                        >
                </div>

                <div class="field col-2">
                    <label for="currentSemester">Semestre atual: </label>
                    <input
                        type="number" 
                        id="registration"
                        formControlName="registration"
                        autocomplete="off"
                        >
                </div>  

            </div>

            <div class="students-form_row" [formGroup]="courseStudentForm">
                <div class="field col-3" >
                    <label>Curso: </label>
                    <input 
                        type="text"
                        placeholder="Selecione..."
                        aria-label="Number"
                        matInput
                        [matAutocomplete]="auto"
                        formControlName="courseData"
                        >
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let course of coursesToChoose" [value]="course">
                          {{ course.name }}
                        </mat-option>
                    </mat-autocomplete>
                </div>
            </div>

        </form>

        <div class="card-footer">
            <button mat-raised-button (click)="cancelForm()" color="secondary" class="card-footer_cancel-btn">
                Cancelar
            </button>

            <button mat-raised-button (click)="submitForm()" class="card-footer_send-btn">
                {{ studentId ? 'Atualizar' : 'Cadastrar'}}
            </button>
        </div>
    </mat-card>
</div>