<div class="courses-form-content">
    <mat-card 
        class="card-content mat-elevation-z4"
        >
        <h2>
            {{ courseId ? 'Editar' : 'Novo'}} curso
        </h2>

        <form class="courses-form" [formGroup]="coursesForm">
            <div class="field col-3">
                <label for="name">Nome: </label>
                <input 
                    type="text" 
                    id="name"
                    formControlName="name"
                    autocomplete="off"
                    >
            </div>

            <div class="field col-3">
                <label for="name">Nº de semestres: </label>
                <input 
                    type="number" 
                    id="name"
                    formControlName="semesters"
                    autocomplete="off"
                    >
            </div>

        </form>
    </mat-card>
</div>