/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; box-sizing: border-box; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: var(--text-color);}

:root {
    --primary-color: #0c0a3e;
    --secondary-color: #0a81d1;
    --text-color: #eff1f3
}

.col-3 {
    width: 23%;
}
.col-6 {
    width: 47%;
}
.col-12 {
    width: 98%;
}

//Message Service aspect
.msg-success {
    background-color: #fff;
    color: var(--secondary-color);
    .mat-button-wrapper {
        color: var(--secondary-color);
    }
}

.msg-error {
    background-color: red;
    color: var(--text-color);
    .mat-button-wrapper {
        color: var(--text-color);
    }
}